DB_CONNECTION=pgsql
DB_HOST=aws-1-us-west-2.pooler.supabase.com
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=postgres.alnbzufubvxmikusvynx
DB_PASSWORD=MeDin3t@467

SUPABASE_URL=https://alnbzufubvxmikusvynx.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFsbmJ6dWZ1YnZ4bWlrdXN2eW54Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUyNDc1NDYsImV4cCI6MjA5MDgyMzU0Nn0.HuLQgYl6Hyt8VNAXJdMvZGGjjQTMzTouzxLbVvW4-tw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFsbmJ6dWZ1YnZ4bWlrdXN2eW54Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI0NzU0NiwiZXhwIjoyMDkwODIzNTQ2fQ.1zVqjfhI1IO9vrTH5QHde05OtH2dQ9kOcoKhHnf6SFs

POSTGRES_DB=medinet
POSTGRES_USER=postgres
POSTGRES_PASSWORD=ee3cd4e36496b7f3c0afb85318a5ac956996d7f0a28221f5e42d84fe2c0f80b084e6cff15080a30e1f4289e7391104ee6e9a02ae9b7787288953d99877437dfc6be7d9c49de1e32dbcba81c72e36a4a9337631928af98ebc9b62a5b069b006556f021d9666aa25730552947f958d3010bd0c48cc80efcb1e92f8bfa10e1a5975
