DB_CONNECTION=pgsql
DB_HOST=aws-1-us-west-2.pooler.supabase.com
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=postgres.alnbzufubvxmikusvynx
DB_PASSWORD=MeDin3t@467

SUPABASE_URL=https://alnbzufubvxmikusvynx.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFsbmJ6dWZ1YnZ4bWlrdXN2eW54Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUyNDc1NDYsImV4cCI6MjA5MDgyMzU0Nn0.HuLQgYl6Hyt8VNAXJdMvZGGjjQTMzTouzxLbVvW4-tw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFsbmJ6dWZ1YnZ4bWlrdXN2eW54Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI0NzU0NiwiZXhwIjoyMDkwODIzNTQ2fQ.1zVqjfhI1IO9vrTH5QHde05OtH2dQ9kOcoKhHnf6SFs